/* Set to A4 size */
html, body {
    height:297mm;
    width:210mm;
}

body {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Hammersmith One';
}

p {
    font-family: 'Montserrat';
}