:root {
    --text-color: #000000;
    --text-link-color: #484848;
    --text-secondary-color: #ffffff;

    --background-color: #f7f7f7;
    --accent-color: #009dff;
}

/* Set to A4 size */
html, body {
    height:297mm;
    width:210mm;
    color: var(--text-color);
    font-family: 'Montserrat';
    background-color: var(--background-color);
}

/* General settings */
h1 {
    text-align: center;
    font-size: 60px;
    margin: 10px 0;
    font-weight: lighter;
    color: var(--accent-color);
}

h1, h2, h3, h4, h5 {
    font-family: 'Hammersmith One';
    margin: 0;
    padding: 0;
}

h2 {
    padding-bottom: 5px;
    text-decoration: underline;
    color: var(--accent-color);
}

h4 {
    font-weight: normal;
}

p {
    padding: 1px 0px;
}

a {
    color: var(--text-link-color);
    text-decoration: none;
}

ul {
    padding-left: 30px;
}

p, ul {
    font-size: 14px;
    margin: 0;
}

hr {
    background-color: var(--accent-color);
    border: 0 none;
    height: 3px;
    padding: 0;
    margin: 0;
}

/* Profile (Contact Details) */
#contact-details {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 110px;
    margin: 0 12.5%;
}

.profile-entry {
    flex-basis: 30%;
    font-size: 24px;
    margin-right: 75px;
}

.profile-entry p {
    padding-left: 10px;
    font-size: 18px;
}

.profile-entry i {
    color: var(--accent-color)
}

.profile-entry p {
    display: inline;
}

/* Body */
body > header {
    height: 50mm;
}

body main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 10px;
    height: 240mm;
}

body main > * {
    padding-bottom: 20px;
    width: 100mm;
}

/* Technologies */
.technology-entry {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--text-secondary-color);
    padding: 3px 5px;
    margin: 3px 1px;
    font-size: 14px;
    font-weight: bold;
}

/* Experience */
.project-entry, .work-entry {
    padding-bottom: 10px;
}

/* Date */
.date {
    color: var(--text-accent-color);
    font-style: italic;
}

/* Timeline */
.timeline {
    padding: 0 0 0 20px;
    list-style: none;
}

.timeline li {
    position: relative;
}

.timeline li > .timeline-line {
    width: 2px;
    height: 100%;
    left: -15px;
    top: 0;
    position: absolute;
    background: var(--accent-color);
}

.timeline li > .timeline-line:before, .timeline li > .timeline-line:after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
    position: absolute;
    background: #76cbff;
    left: -5px;
    top: 0;
}